.sort-bar {
  display: flex;
  border: 1px solid #dfe5ec;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: white;
  height: 50px;
  border-radius: 5px;
  padding: 0;
  margin: 0;

  label {
    line-height: 50px;
    display: inline-block;
    text-align: center;
    width: 168px;
    flex-grow: 1;

    input {
      margin: 0;
      margin-right: 10px;
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      z-index: -1;
    }

    &:has(input:checked) {
      color: white;
      box-sizing: border-box;
      border: 1px solid #2196f3;
      background-color: #2196f3;
      overflow: hidden;

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
